{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Bands{% endblock %}</title>
</head>
<body>
    {% block content %} 
    <section class="vendor" id="vendor">
        <div class="heading">
            <h1>Music And Party</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="box-container">
            {% for band in bands %}
            <div class="box">
                <img src="{{ band.image.url }}" alt="{{ band.name }}">
                <div class="info">
                    <h3>Name: {{ band.name }}</h3>
                    <ul>Price: {{ band.price }} </ul>
                    <ul>Price: {{ band.id }} </ul>

                    <button type="button" value="{{band.id}}" class="bttn" id="add-cart">Book</button>
                      
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
    
    
                    </div>
                    
                </div>
    
            </div>
            {% endfor %}
        </div>
            
    </section>
    <script>
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
            product_id: $('#add-cart').val(),
            product_qty: $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
                },
        
                success: function(json){
                    //console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                },
        
                error: function(xhr, errmsg, err){
        
                }
        
        
            });
        
        
        
        })
        
        
        
        
        </script>
        
    {% endblock %}

</body>

  
</html>