{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--boxicons-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
    <!--unicons-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><i class="fas fa-user"></i> Be Together </a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="#Home">Home</a>
            <a href="#vendor">Services</a>
            <a href="#Clients">Clients</a>
            <a href="#team">Team</a>
            <a href="#Contact">Contact</a>
            {% if user.is_authenticated %}
                <a class="button" href='/logout'>Logout</a>
            {% else %}
                <a class="button" href='/login'>Login</a>
            {% endif %}

        </nav>
        <!--<div class="icons">
           <!-<div class="fas fa-moon" id="theme-btn"></div></div>--> 
        
    </header>
            {% block content %}  
            {% endblock %}

</body>

</html>