{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Flower{% endblock %}</title>    
</head>
<body>
    {% block content %}
    <section class="vendor" id="vendor">
        <div class="heading">
            <h1>Bouquet</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="box-container">
            {% for image in images %}
            <div class="box">
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
                <div class="info">
                    <ul>name : {{ image.name }}</ul>
                    
                    <ul>Price : {{ image.price }}</ul>

                    <a href="#" class="bttn">Book</a>
                </div>
    
            </div>  
            {% endfor %}
        </div>
    
    </section>
    {% endblock %}
</body>
</html>