{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>
<body>

    {% block content %}
    <div class="form login_form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="input_box">
                <input type="text" name="username" placeholder="Enter your username" required/>
                <i class="fas fa-user"></i>
            </div>
            <div class="input_box">
                <input type="password" name = "password" placeholder="Enter your password"/>
                <i class="fas fa-lock password"></i>

            </div>
            <div class="option-field">
                <span class="checkbox">
                    <input type="checkbox" name= "remember_me" id="check">
                    <label for="check">Remember me</label>
                </span>
                <a href="#" class="forget-pw">Forget password?</a>

            </div>
            <button type = "submit" class="button">Login Now</button>


            <div class="login_signup">Don't have an account? <a href="/register" id="signup">Signup</a></div>

        </form>
        {% endblock %}
    </div>