{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %}</title>
    </head>
<body>
    {% block content %}
    
    <script src="{% static 'engt.js' %}"></script>
    
    

<!--home section start-->
<section class="Home" id="Home">
    <div class="content">
       <!--<h1>Widding Planner Agency</h1>--> 
        <h3>We Make Every Moment Special</h3>
       <!--<a href="#" class="btn">Learn More</a>--> 

        

    </div>



</section>
<!--home section end-->
<section class="step_container">
    
    <div class="step">
        <span>01</span>
        <h3>Engagement</h3>
        <p>Getting engaged is momentous occasion in person's life : 
            It's start of new chapter , and we hope to help you to make every 
            moment special in your Important Event!
        </p>
       <!--<a href="#" class="btn">Learn More</a>--> 

    </div>
    <div class="step">
        <span>02</span>
        <h3>Save The Date</h3>
        <p>There is only one thing bigger than a wedding and that's 
            inviting people to it, right?! A great tip for creating 
            a 'save the date'!
        </p>
       <!--<a href="#" class="btn">Learn More</a>--> 
    </div>
    <div class="step">
        <span>03</span>
        <h3>Wedding Ceremony</h3>
        <p>Your wedding day is dreamed one of the greatest days of your life.
            The memories created that day are sure to be the best day in your life.
        </p>
       <!--<a href="#" class="btn">Learn More</a>--> 
    </div>



</section>
<!--vendor section starts -->
<section class="vendor" id="vendor">
    <div class="heading">
        <h1>Top Wedding Vendors</h1>
        <div class="container">
            <div class="lines"></div>

        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <img src="{% static '/1.jpg' %}" alt="">
            <div class="info">
                <h3>Dreassing</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>
                <a href="/dress" class="bttn" target="_blank" >Learn More</a>
            </div>

        </div>
        <div class="box">
            <img src="{% static '/2.jpg' %}" alt="">
            <div class="info">
                <h3>Florist</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>

                <a href="/flower" class="bttn" target="_blank">Learn More</a>
            </div>
        </div>
        <div class="box">
            <img src="{% static '/3.jpg' %}" alt="">
            <div class="info">
                <h3>Wedding Cake</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>

                <a href="/cake" class="bttn" target="_blank">Learn More</a>
            </div>
        </div>    
        <div class="box">
            <img src="{% static '/4.jpg' %}" alt="">
            <div class="info">
                <h3>Venu And Hall</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>


                <a href="/venue" class="bttn" target="_blank">Learn More</a>
            </div>
        </div>    
        <div class="box">
            <img src="{% static '/5.jpg' %}" alt="">
            <div class="info">
                <h3>Music And Party</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>


                <a href="/band" class="bttn" target="_blank">Learn More</a>
            </div>
        </div>
        <div class="box">
            <img src="{% static '/6.jpg' %}" alt="">
            <div class="info">
                <h3>Photographer</h3>
                <p>Lorem, ipsum dolor site amet consectetur adipisicing elit. Veniam, dolores.</p>

                <a href="/photographer" class="bttn" target="_blank">Learn More</a>
            </div>
        </div>    

    </div>
+
</section>
<!--offers section starts -->
<section class="Offers" id="Offers">
    <div class="heading">
        <h1>Our Offers</h1>
        <div class="container">
            <div class="lines"></div>

        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <h3 class="title">Basic</h3>
            
            <ul>
                <li><i class="fas fa-check"></i>Venu And Hall</li>
                <li><i class="fas fa-check"></i>Music And Party</li>
                <li><i class="fas fa-check"></i>Wedding Cake</li>
                <li><i class="fas fa-check"></i>Photographer</li>
                <li><i class="fas fa-times"></i>Dreassing</li>
                <li><i class="fas fa-times"></i>Florist</li>
    
            </ul>
            <a href="#" ><button class="bttn">Buy Now</button></a>
    
        </div>
        <div class="box">
            <h3 class="title">Standard</h3>
            
            <ul>
                <li><i class="fas fa-check"></i>Venu And Hall</li>
                <li><i class="fas fa-check"></i>Music And Party</li>
                <li><i class="fas fa-check"></i>Wedding Cake</li>
                <li><i class="fas fa-check"></i>Photographer</li>
                <li><i class="fas fa-check"></i>Dreassing</li>
                <li><i class="fas fa-times"></i>Florist</li>
    
            </ul>
            <a href="#" ><button class="bttn">Buy Now</button></a>
    
        </div>
        <div class="box">
            <h3 class="title">Premium</h3>
            
            <ul>
                <li><i class="fas fa-check"></i>Venu And Hall</li>
                <li><i class="fas fa-check"></i>Music And Party</li>
                <li><i class="fas fa-check"></i>Wedding Cake</li>
                <li><i class="fas fa-check"></i>Photographer</li>
                <li><i class="fas fa-check"></i>Dreassing</li>
                <li><i class="fas fa-check"></i>Florist</li>
    
            </ul>
            <a href="#" ><button class="bttn">Buy Now</button></a>
    
        </div>
    
    

    </div>
    

</section>
<!--offers section ends -->

<!--vendor section starts -->
<!--cleint section starts -->

    <section class="Clients" id="Clients">
        <div class="heading">
            <h1>Our Previous cleints</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="row">
            <div  class="box-container">
                <div class="box">
                    <div class="c1">
                    <img src="{% static '/c1.jpg' %}">
                    </div>
                    <div class="info">
                        <h3>01. Yaman & Feraya</h3>
                        <p><i class="fas fa-qoute-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Eligendi nihil tempora necessitatibus, autem cumque alias ad sequi 
                             laudantium molestias sed nobis id voluptas inventore itaque non, 
                             mollitia voluptatum error praesentium. <i class="fas fa-qoute-right"></i></p>

                    </div>

                </div>
                <div class="box">
                    <div class="c2">
                    <img src="{% static '/c2.jpg' %}">
                    </div>
                    <div class="info">
                        <h3>02. Mert & Hala</h3>
                        <p><i class="fas fa-qoute-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Eligendi nihil tempora necessitatibus, autem cumque alias ad sequi 
                             laudantium molestias sed nobis id voluptas inventore itaque non, 
                             mollitia voluptatum error praesentium. <i class="fas fa-qoute-right"></i></p>

                    </div>
                </div>
            </div>
            <img src="{% static '/div2.JPG' %}">
            <div  class="box-container">
                <div class="box">
                    <div class="info">
                        <h3>03. Sarb & Elaf </h3>
                        <p><i class="fas fa-qoute-left"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Eligendi nihil tempora necessitatibus, autem cumque alias ad sequi 
                             laudantium molestias sed nobis id voluptas inventore itaque non, 
                             mollitia voluptatum error praesentium. <i class="fas fa-qoute-right"></i></p>
                    </div>
                    <div class="c3">
                    <img src="{% static '/c3.jpg' %}" >
                    </div>

                </div>
                <div class="box">
                    <div class="info">
                        <h3>04. Omar & Farah</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Eligendi nihil tempora necessitatibus, autem cumque alias ad sequi 
                             laudantium molestias sed nobis id voluptas inventore itaque non, 
                             mollitia voluptatum error praesentium. </p>
                    </div>
                    <div class="c4">
                    <img src="{% static '/c4.jpg' %}">
                    </div>
                                
                </div>
            </div>        


        </div>

    
+

    </section>
<!--cleint section ends   -->
<!--team section starts   -->
    <section class="team" id="team">
        <div class="heading">
            <h1>Our Creative Team</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="box-container">
            <div class="box">
                <img src="{% static '/t1.jpg' %}">
                <h3>Olivia Liam</h3>
                <span>Wedding Planner</span>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Velit vero numquam consectetur fugit. 
                    Reiciendis, vero reprehenderit corporis minus doloribus,
                    officiis pariatur sint voluptatem aliquid dolorem suscipit.
                </p>
                <div class="share">
                    
                        
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>


                </div>



            </div>
            <div class="box">
                <img src="{% static '/t2.jpg' %}">
                <h3>Emma James</h3>
                <span>Wedding Planner</span>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Velit vero numquam consectetur fugit. 
                    Reiciendis, vero reprehenderit corporis minus doloribus,
                    officiis pariatur sint voluptatem aliquid dolorem suscipit.
                </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>


                </div>



            </div><div class="box">
                <img src="{% static '/t3.jpg' %}">
                <h3>Ava William</h3>
                <span>Wedding Planner</span>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Velit vero numquam consectetur fugit. 
                    Reiciendis, vero reprehenderit corporis minus doloribus,
                    officiis pariatur sint voluptatem aliquid dolorem suscipit.
                </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>


                </div>



            </div>

        </div>

    </section>
<!--team section ends     -->
<!--contact section starts   -->

     <section class="Contact" id="Contact">
        <div class="heading">
            <h1>Contact US</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Your Number">
                <input type="text" placeholder="Your Address">
            </div>
            <textarea placeholder="say something" name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Send Message" class="bttn">

        </form>
     </section>
     <!--footer section starts-->
      <section class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h3><i class="fas fa-user"> Be Together</i></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Alias sunt repudiandae consequatur quasi, molestias,
                        sapiente eius laborum quidem nemo debitis ullam excepturi 
                        culpa aliquam earum nam eum. Ea, fugit sint.</p>
    
                </div>
                <div class="footer-col">
                    <h3>Our Services</h3>
                    <a href="#" ><i class="fas fa-chevron-right"></i>Engagement</a>
                    <a href="#" ><i class="fas fa-chevron-right"></i>Save The Date</a>
                    <a href="#" ><i class="fas fa-chevron-right"></i>Wedding Ceremony</a>
    
    
                </div>
                <div class="footer-col">
                    <h3>Contact Us</h3>
                    <a href="#"><i class="fas fa-phone"></i>+123-456-7890</a>
                    <a href="#"><i class="fas fa-phone"></i>+321-987-6543</a>
                    <a href="#"><i class="fas fa-envelope"></i>info.com</a>
                    <a href="#"><i class="fas fa-map"></i>123 kilo-patra st, luxor Egypt</a>
                </div>
                <div class="footer-col">
                    <h3>Follow Us</h3>
                    <div class="share">
                        <a href="#" ><i class="fab fa-facebook-f"></i>facebook</a>
                        <a href="#" ><i class="fab fa-twitter"></i>twitter</a>
                        <a href="#"><i  class="fab fa-instagram"></i>instagram</a>
                        <a href="#" ><i class="fab fa-linkedin"></i>linkedin</a>
    
    
                    </div>
    
                    
                </div>

            </div>
            


        </div>
        <div class="credit"> &copy; copyriht @ 2023 by <span>ninjashub</span> </div>
        
    </section>
     <!--footer section ends  -->
<!--contact section ends     -->

    

<!--<script>
    const header = document.querySelector("header");
          nav    = document.querySelector("nav");
          modeToggle = docoment.querySelector(".dark-light");
          searchToggle = docoment.querySelector(".searchBox");



          modeToggle.addEventListener("click" , () =>{
            modeToggle.classList.toggle("active" );
            header.classList.toggle("dark" );
            


          })



</script>
-->


{% endblock %}
</body>-</html>