{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Photographers{% endblock %}</title>
    </head>
<body>
    {% block content %} 
    <section class="vendor" id="vendor">
        <div class="heading">
            <h1>Our Photographers</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="box-container">
            {% for image in images %}
            <div class="box">
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
                <div class="info">
                    <ul>Name: {{ image.name }}</ul>
                    <ul>Price: {{ image.price }}</ul>

                    
                    <a href="#" class="bttn" >Book</a>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
    
    
                    </div>
                </div>
    
            </div>
            {% endfor %}
            
            </div>    
    
    
    </section>
    {% endblock %}
</body>
</html>