{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Register{% endblock %}</title>
</head>
<body>
        {% block content %}
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <h2>Signup</h2>
            <div class="input_box">
                <input type="text" name="username" placeholder="Enter your username" required/>
                <i class="fas fa-user"></i>
            </div>
            <div class="input_box">
                <input type="email" name="email" placeholder="Enter your email" required/>
                <i class="fas fa-envelope email"></i>
            </div>
            <div class="input_box">
                <input type="password" name="password1" placeholder="Create password" required/>
                <i class="fas fa-lock password"></i>
                <i class="fas fa-eye-slash pw-hide"></i>

            </div>
            <div class="input_box">
                <input type="password" name="password2" placeholder="Confirm password" required/>
                <i class="fas fa-lock password"></i>
                <i class="fas fa-eye-slash pw-hide"></i>

            </div>
            
            <button type="submit" class="button">Signup Now</button>


            <div class="login_signup">Already have an account? <a href="/login" id="login">Login</a></div>
        </form>
       
        {% endblock %}
        
</body>