{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Venues{% endblock %}</title>
</head>
<body>
    {% block content %}
    <section class="vendor" id="vendor">
        <div class="heading">
            <h1>wall And Hall</h1>
            <div class="container">
                <div class="lines"></div>
    
            </div>
        </div>
        <div class="box-container">
            {% for image in images %}
            <div class="box">
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
                <div class="info">
                    <h2>Name: {{ image.name }}</h2>
                    <h4>{{ image.type }}</h4>
                    <ul>Price : {{ image.price }}</ul>
                    <ul>Capacity : {{ image.capacity }}</ul>
    
                    <a href="#" class="bttn">Book</a>
                </div>
    
            </div>
            {% endfor %}
    
        </div>
    
    </section>
    {% endblock %}
</body>
</html>